E2E_ADMIN_EMAIL=your_admin_email
E2E_ADMIN_PASSWORD=your_admin_password

E2E_STAFF_EMAIL=your_staff_email
E2E_STAFF_PASSWORD=your_staff_password

E2E_BASE_URL=http://localhost:5173

E2E_SUPABASE_URL=https://vzzhzvzwdrkdmqrpcwar.supabase.co
E2E_SUPABASE_KEY=your_supabase_publishable_key_here
